<div class="side-menu">
  <nav class="menu-vc">
    <ul class="mcd-menu">
      <li>
        <img
          src="./../../../assets/dealer/icon/Group9472.svg"
          class="imd-fluid"
        />
        <ul>
          <li>
            <a
              routerLink="DealerMgmt/dealer/add-dealer"
              routerLinkActive="router-link-active"
              class=""
              >ADD NEW DEALER</a
            >
          </li>

          <li>
            <a routerLink="DealerMgmt/dealer/view-dealer" class=""
              >VIEW DEALERS</a
            >
          </li>
          <li>
            <a routerLink="/pages/mission-vision-value" class=""
              >ADD DEALER ADMIN</a
            >
          </li>
          <li>
            <a routerLink="/sister-companies" class="">VIEW DEALER ADMIN</a>
          </li>
        </ul>
      </li>

      <li>
        <img
          src="./../../../assets/dealer/icon/Group9486.svg"
          class="imd-fluid"
        />

        <ul>
          <li><a routerLink="/pages/our-team" class="">vendor</a></li>
        </ul>
      </li>

      <li>
        <img
          src="./../../../assets/dealer/icon/Group9487.svg"
          class="imd-fluid"
        />

        <ul>
          <li>
            <a routerLink="/pages/development-process" class="">vendor</a>
          </li>
          <li>
            <a routerLink="/pages/skills-and-tools" class="">vendor</a>
          </li>
          <li><a routerLink="/pages/solutions" class="">vendor</a></li>
        </ul>
      </li>

      <li>
        <img
          src="./../../../assets/dealer/icon/Group9488.svg"
          class="imd-fluid"
        />

        <ul>
          <li><a routerLink="/mechatronics/offering" class="">vendor</a></li>
          <li>
            <a routerLink="/mechatronics/offering" class=""> vendor</a>
          </li>
          <!-- <li><a routerLink="/mechatronics/offering" class="">SKILLS</a></li>
          <li><a routerLink="/mechatronics/offering" class="">INFRA</a></li>
          <li><a routerLink="/mechatronics/offering" class="">CLIENTS</a></li>
          <li><a routerLink="/pages/gallary" class="">GALLARY</a></li> -->
        </ul>
      </li>

      <li>
        <img
          src="./../../../assets/dealer/icon/Group9495.svg"
          class="imd-fluid"
        />
        <ul>
          <li>
            <a routerLink="/software/our-journey" class="">vendor</a>
          </li>
        </ul>
      </li>

      <li>
        <img
          src="./../../../assets/dealer/icon/Group9496.svg"
          class="imd-fluid"
        />
        <ul>
          <li><a routerLink="/pages/careers" class="">vendor</a></li>
        </ul>
      </li>
      <li>
        <img
          src="./../../../assets/dealer/icon/Group9497.svg"
          class="imd-fluid"
        />
        <ul>
          <li><a routerLink="/pages/gallary" class="">vendor</a></li>
          <li><a routerLink="/pages/gallary" class="">vendor</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
